body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header-section{
    background-color: blueviolet;
    padding: 7px;
    width: 100%;
    position: fixed;
    
}
.header-section .container ul li{
    list-style: none;
    display: inline;
    padding: 2%;
}
.header-section .container ul li a{
    text-decoration: none;
    font-size: 25px;
    color: cornsilk;
}

h1{
    font-size:  50px;
}   
h2{
    font-size:  40px;
}   
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}

.flex-section{
    display: flex;
    margin-bottom: 150px;
}
/* .first-selection{
    background-image: url(image/top-banner-2.png);
    background-repeat: no-repeat;
    
  
} */

.half-width{
    width: 50%;
    margin-left: 5%;
}
.title{
    margin-top: 100px;
}
.my1stimage{
    width: 100%;
}

.blue-color{
    color: mediumblue;
}
.my-2nd-image{
  
width: 80%;
}
.card{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 2%;
    
}

#exp-item-01{
    border-left: 10px solid blueviolet;
}
#exp-item-02{
    border-left: 10px solid;
    border-image: linear-gradient(#2600ff, #ff05ea);
    border-image-slice: 1;
}
.contact-me{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding: 5%;
    border: 5px solid slateblue;
   
}
form label{
    display: block;
    font-size: 20px;
    margin: 2%;
   
}

footer p{
    text-align: center;
}